<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1053192206022-noj0ibrr4nee5k85s40ncj3mtc3p0svq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1053192206022-noj0ibrr4nee5k85s40ncj3mtc3p0svq</string>
	<key>API_KEY</key>
	<string>AIzaSyAwYWwJGrJxJBivYvC2xvH4_HcaYRcepJE</string>
	<key>GCM_SENDER_ID</key>
	<string>1053192206022</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.narui.firebaseTest</string>
	<key>PROJECT_ID</key>
	<string>fir-test-72e23</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-test-72e23.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1053192206022:ios:b489384bba9a91fa00c9c7</string>
	<key>DATABASE_URL</key>
	<string>https://fir-test-72e23.firebaseio.com</string>
</dict>
</plist>